@import url('https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300..900&family=Zen+Kurenaido&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Zen Kurenaido", sans-serif;
  --font-alt: "Merriweather", serif;

  --color-dark: #2C1C0D;
  --color-med: #724F2F;
  --color-light: #D0A67D;

  --clamp-width: clamp(200px, 100vw, 1000px);
}

@layer base {
  html {
    @apply flex justify-center font-main text-black;
  }

  body {
    @apply flex relative w-[var(--clamp-width)];
  }
}

@layer components {
  /* navbar */
  nav {
    @apply w-full bg-med flex justify-between p-4;
  }
  .social-links {
    @apply flex gap-3
  }
  .nav-links {
    @apply flex text-white text-2xl gap-5;
  }
  nav img {
    @apply w-5
  }

  /* header */
  header {
    @apply flex items-center justify-center sm:p-40 max-h-[100px];
  }
  header .bg-img {
    @apply hidden sm:block absolute top-0 left-0 w-full h-130 -z-1 bg-cover bg-center;
  }
  .logo-outer-border {
    @apply bg-dark p-2 rounded-full
  }
  .logo {
    @apply flex flex-col items-center justify-center w-fit h-fit px-5 pt-2 pb-3 rounded-full border-2 border-white text-white bg-dark uppercase
  }
  .logo span {
    @apply hidden sm:block;
  }
  header img {
    @apply w-10
  }

  /* hero */
  main {
    @apply p-20 flex flex-col gap-3;
  }

  /* menu */
  .menu {
    @apply w-full flex justify-center;
  }
  .menu-items {
    @apply max-w-3/4 grid grid-cols-3 px-5 gap-5 text-white;
  }
  .menu-item .content {
    @apply flex flex-col p-3 gap-3;
  }
  .menu-items .content h3 {
    @apply text-2xl font-bold uppercase;
  }
  .menu-item:first-child {
    @apply bg-[linear-gradient(to_bottom,white_25%,#2C1C0D_25%)];
  }
  .menu-item:nth-child(2) {
    @apply bg-[linear-gradient(to_bottom,white_25%,#D0A67D_25%)];
  }
  .menu-item:last-child {
    @apply bg-[linear-gradient(to_bottom,white_25%,#724F2F_25%)];
  }
  .menu-item div {
    @apply flex justify-center;
  }
  .menu-item img {
    @apply w-[50%] rounded-full
  }

  /* location */
  .location-container {
    @apply bg-light mt-20 py-25 px-10 items-center justify-center flex gap-10;
  }
  
  /* map container - leaflet */
  .leaflet-container {
    @apply w-[300px] h-[200px]
  }

  /* footer */
  footer {
    @apply flex justify-center p-3;
  }
}