@import url('https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300..900&family=Zen+Kurenaido&display=swap');
@import "tailwindcss";

@theme {
  --font-main: "Zen Kurenaido", sans-serif;
  --font-alt: "Merriweather", serif;

  --color-dark: #2C1C0D;
  --color-medium: #724F2F;
  --color-light: #D0A67D;

  --spacing-sm: 20px;

  --clamp-width: clamp(200px, 100vw, 1000px);
}

@layer base {
  html {
    @apply flex justify-center font-main text-black;
  }

  body {
    @apply flex relative w-[var(--clamp-width)];
  }
}

@layer components {

  /* navbar */
  nav {
    @apply fixed flex bg-medium w-full justify-between p-sm top-0 left-0 z-2;
  }
  .social-links {
    @apply flex gap-3
  }
  nav ul {
    @apply hidden sm:flex gap-6;
  }
  nav li {
    @apply text-white text-2xl gap-5 capitalize;
  }
  /* mobile menu */
  .mobile-menu {
    @apply relative block sm:hidden
  }
  .mobile-menu .items {
    @apply absolute top-0 right-0 w-[var(--clamp-mobile-menu)] bg-gray-700 min-h-64 rounded-md p-8 flex flex-col z-10 origin-top-right;
  }
  .mobile-menu .items ul {
    @apply flex flex-col gap-2 flex-1;
  }
  /* hamburger button */
  .hamburger-btn {
    @apply relative h-11 w-11 
  }
  .hamburger-btn .top,
  .hamburger-btn .middle {
    @apply absolute h-1 w-7 bg-white
  }
  .hamburger-btn .bottom {
    @apply absolute h-1 w-5 bg-white
  }

  /* header */
  header {
    @apply w-full flex items-center justify-center sm:p-40 max-h-[100px];
  }
  header .logo {
    @apply bg-white rounded-full mt-20 sm:mt-auto z-3 sm:z-0;
  }
  header .logo img {
    @apply max-h-[100px] sm:max-h-[150px];
  }
  header .bg-img {
    @apply hidden sm:block absolute top-0 left-0 w-full h-130 -z-1 bg-cover bg-center;
  }
  
  /* hero */
  main {
    @apply mt-25 sm:mt-70 px-5 sm:px-20 pb-20 flex flex-col gap-3;
  }

  /* menu */
  .menu {
    @apply w-full flex justify-center;
  }
  .menu-items {
    @apply max-w-3/4 flex flex-col md:grid md:grid-cols-3 px-5 gap-5 text-white;
  }
  .menu-item {
    @apply flex md:flex-col items-center gap-3;
  }
  .menu-item .content {
    @apply p-2 md:px-5 md:pb-5 flex flex-col gap-3;
  }
  .menu-item .content h3 {
    @apply text-2xl font-bold uppercase;
  }
  .menu-items .content p {
    @apply text-[15px] sm:text-[18px];
  }
  .menu-item:nth-child(even) {
    @apply flex-row-reverse md:flex-col;
  }
  .menu-item:first-child {
    @apply bg-[linear-gradient(to_right,white_10%,#2C1C0D_10%)] md:bg-[linear-gradient(to_bottom,white_15%,#2C1C0D_15%)];
  }
  .menu-item:nth-child(2) {
    @apply bg-[linear-gradient(to_left,white_10%,#D0A67D_10%)] md:bg-[linear-gradient(to_bottom,white_15%,#D0A67D_15%)] text-dark;
  }
  .menu-item:last-child {
    @apply bg-[linear-gradient(to_right,white_10%,#724F2F_10%)] md:bg-[linear-gradient(to_bottom,white_15%,#724F2F_15%)];
  }
  .menu-item .menu-photo {
    @apply aspect-square h-[50%] md:w-[50%] md:h-fit;
  }
  .menu-photo img {
    @apply w-full md:rounded-full;
  }

  /* location */
  .location {
    @apply bg-light mt-20 py-15 sm:py-25 px-10 items-center justify-center flex sm:flex-row-reverse gap-10;
  }
  .location .contact {
    @apply flex flex-col gap-3;
  }
  .location .address {
    @apply flex flex-col;
  }
  .location .phone {
    @apply font-bold
  }
  
  /* map container - leaflet */
  .leaflet-container {
    @apply w-[30vw] aspect-square rounded-full sm:rounded-none sm:aspect-auto sm:w-[300px] sm:h-[200px]
  }

  /* footer */
  footer {
    @apply flex justify-center p-3;
  }
}